.button {
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 12px;
	border: 2px solid #7b6ef6;
	background: #7b6ef6;
	color: #fff;
	cursor: pointer;
	height: 56px;
}
