.head,
.footer__content {
	background: #20283e;
	border-radius: 24px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
	margin-bottom: 50px;
	margin-top: 30px;
	color: #8e95a9;
	line-height: 32px;
	text-align: justify;
}

.rank {
	color: #ffad49;
	display: flex;
	align-items: center;
	gap: 5px;
	background: rgba(0, 0, 0, 0.65);
	padding: 4px 8px;
	border-radius: 8px;
}

.content {
	display: flex;
	gap: 100px;
	color: #8e95a9;
	width: 100%;
}

.image {
	width: 480px;
	height: 720px;
	border-radius: 24px;
	object-fit: cover;
}

.wrapper {
	display: flex;
	gap: 30px;
	align-items: center;
}

.text {
	text-align: justify;
}

.status {
	color: var(--color-accent);
	display: flex;
	gap: 10px;
	align-items: center;
}

.detail__subtitle {
	color: #c3c8d4;
}
.footer__title {
	color: #c3c8d4;
	font-weight: 700;
}
.footer__wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
