.header {
	background: var(--color-background);
	padding: 16px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	color: #fff;
}

.menu__list {
	display: flex;
	gap: 60px;
}

.menu__link {
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu__link--favorites {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--color-accent);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__item {
	display: flex;
	gap: 10px;
}

.exit-icon {
	width: 100%;
}

.active {
	color: var(--color-accent);
}
